git+git://github.com/dbca-wa/dpaw-utils@minimal#egg=dpaw-utils
psycopg2-binary==2.7.4
Django==2.0.6
django-confy==1.0.4
django-extensions==2.0.6
gunicorn==19.8.1
whitenoise==3.3.1
django-helpdesk==0.2.7
